

<div class="header">

    <div class="logo">
        <h1 class="logo-main">step</h1>
        <p class="logo-sub">ordering</p>
    </div>

    <div class="links-content">
        <a routerLink="/" class="menu-link">
            home
            <i class="fa-solid fa-pizza-slice pizza-icon" ></i>
          </a>
    
    <a class="cart-label" routerLink="/cart">
        <span class="cart-text">Cart</span>
        <i class="fa-solid fa-motorcycle"></i>
        
    </a>
    </div>

</div>

<div class="img-div">
<h2>Fast And Efficient, Online Ordering You Must Try.</h2>
</div>

