<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <h2>Yummy<span>Menu</span></h2>
        <p>Fresh, Fast & Delicious</p>
      </div>
  
      <div class="footer-links">
        <a routerLink="/">Home</a>
        <a routerLink="/cart">Cart</a>
        <a href="#">Contact</a>
        <a href="#">Privacy</a>
      </div>
  
      <div class="footer-socials">
        <a ><i class="fa-brands fa-instagram"></i></a>
        <a ><i class="fa-brands fa-facebook"></i></a>
        <a ><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  
    <div class="footer-bottom">
      © 2025 YummyMenu. All rights reserved.
    </div>
  </footer>
  
