
.categories{

height: 50px;
display: flex;
align-items: center;
justify-content: center;
max-width: 90%;
margin: auto;
border-bottom: 5px ridge red;
margin-top: 4%;
gap: 27px;
padding-left: 0;

li{
        position: relative;
        padding: 10px 20px;
        color:black;
        font-size: 16px;
        transition: transform 0.3s ease, background-color 1s ease, border 0.3s ease;
        list-style-type: none;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1); 
          background-color:red;
          color: white;
          border: 1px ridge black;
        }
       
        &:hover::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
    
        &:hover::before {
          opacity: 1;
        }
      }
    }
.products-content{
 max-width: 90%;
 margin: auto;
 display: flex;

 .filter-content{
 width: 23%;
 height: 500px;
 margin-top: 50px;
 border: 2px solid darkgray;
 border-radius: 5px;
 background-color: rgba(219, 219, 219, 0.3);
 }
  .products{
    padding-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 80px;
    column-gap: 20px;
    max-width: 70%;
    padding-left: 4%;

    .card{
    background-image: url(cart.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 5px groove black;
    padding: 10px;
    color: white;
    border-radius: 10px;
    &:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

  h5{
  font-weight: 100;
  }

  button{
  border:2px solid black;
  background-color: white;
  transition: background-color 0.3s ease, transform 0.3s ease,;
  cursor: pointer;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;

  &:hover{
    background-color:rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: white;
  }

  &:active{
    transform: scale(1.02);
  }
  }
    }
    }


}
 
