<app-popup [(show)]="popupVisible" [message]="popupMessage"></app-popup>

<h1 class="head">Categories</h1>

<ul class="categories">
  <li
    [class.active]="selectedCategoryId === null"
    (click)="filterByCategory(null)"
  >
    All
  </li>
  <li
    *ngFor="let item of Categories; trackBy: trackByFn"
    [class.active]="selectedCategoryId === item.id"
    (click)="filterByCategory(item.id)"
  >
    {{ item.name }}
  </li>
</ul>

<section class="products-content">

  <div class="filter-content">
    <h4>Filter</h4>

    <div class="slider-container">
      <label for="spiciness">Spiciness: {{ spiciness === 0 ? 'No Chosen' : spiciness }}</label>
      <input
        type="range"
        id="spiciness"
        min="0"
        max="4"
        [(ngModel)]="spiciness"
      />
    </div>

    <div class="checkbox-group">
      <label><input type="checkbox" [(ngModel)]="noNuts" /> No Nuts</label>
      <label><input type="checkbox" [(ngModel)]="vegetarianOnly" /> Vegetarian Only</label>
    </div>

    <div class="button-group">
      <button class="reset-button" (click)="resetFilters()">RESET</button>
      <button class="apply-button" (click)="applyFilters()">APPLY FILTER</button>
    </div>
  </div>

  <section class="products">
    <div
      *ngFor="let item of filteredProducts; trackBy: trackByFn"
      class="card"
      style="width: 18rem;"
    >
      <img src="{{item.image}}" class="card-img-top" alt="{{item.name}}">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="spiciness">spiciness:{{item.spiciness}}</p>

      <div class="groups">
        <div class="nuts">
          <label class="custom-checkbox">
            <input type="checkbox" [checked]="item.nuts" disabled />
            <span class="circle"></span>
            nuts
          </label>
        </div>

        <div class="vegeterians">
          <label class="custom-checkbox">
            <input type="checkbox" [checked]="item.vegeterian" disabled />
            <span class="circle"></span>
            vegeterian
          </label>
        </div>
      </div>

      <div class="cart-footer">
        <p class="card-price">${{item.price}}</p>
        <button (click)="addToCart(item)">add to card</button>
      </div>
    </div>
  </section>

</section>
